<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Adalberto Raul Rua Aguirre - Prueba Tecnica</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>